<div class="bg-base-200">
  <div class="hero min-h-screen" style="background-image: url('https://storage-box24.s3.ap-northeast-1.amazonaws.com/flower-photograph%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC2.jpg');">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 sm:text-4xl text-2xl font-serif font-bold"><%= t '.theme' %></h1>
        <p class="font-serif sm:font-base font-xs"><%= t '.description' %></p>
        <% if !logged_in? %>
          <%= link_to (t 'defaults.login'), login_path, class: "btn btn-primary font-light w-48 mt-4"%>
          <div class="divider px-10 py-4 text-gray-400"><%= t '.or' %></div>
          <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-info lowercase text-white font-light w-48' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg>
            <p class="text-xs"><%= t 'defaults.twitter_register' %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <h1 class="mt-5 sm:text-4xl text-2xl font-serif text-center"><%= t '.treatment' %></h1>
  <div class="mb-6 p-4 flex flex-col text-center items-center">
    <div class="inline-flex items-center justify-center justify-center mb-5 flex-shrink-0">
      <%= image_tag 'door.png', class: "sm:w-96 sm:h-96 w-72 h-72" %>
    </div>
    <div class="flex-grow">
      <h2 class="font-serif text-gray-900 text-lg title-font font-medium mb-3"><%= t '.part1' %></h2>
      <p class="leading-relaxed text-base text-gray-500"><%= t ".description3" %></p>
    </div>
  </div>
  <div class="mb-6 p-4 flex flex-col text-center items-center">
    <div class="inline-flex items-center justify-center justify-center mb-5 flex-shrink-0">
      <%= image_tag 'photographer.png', class: "sm:w-96 sm:h-96 w-72 h-72" %>
    </div>
    <div class="flex-grow">
      <h2 class="font-serif text-gray-900 text-lg title-font font-medium mb-3"><%= t '.part2' %></h2>
      <p class="leading-relaxed text-base text-gray-500"><%= t '.description4' %></p>
    </div>
  </div>
  <div class="mb-6 p-4 flex flex-col text-center items-center">
    <div class="inline-flex items-center justify-center justify-center mb-5 flex-shrink-0">
      <%= image_tag 'marker_human.png', class: "sm:w-96 sm:h-96 w-72 h-72" %>
    </div>
    <div class="flex-grow">
      <h2 class="font-serif text-gray-900 text-lg title-font font-medium mb-3"><%= t '.part3' %></h2>
      <p class="leading-relaxed text-base text-gray-500"><%= t '.description5' %></p>
    </div>
  </div>
  <div class="flex justify-center">
    <% if !logged_in? %>
      <%= link_to (t 'defaults.new_user'), new_user_path, class: "btn btn-primary font-light w-48 mb-4"%>
    <% end %>
  </div>
</div>
