<div class="hero min-h-screen" style="background-image: url('assets/flower-photograph.jpg');">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <div class="hidden sm:block">
        <h1 class="mb-5 text-4xl font-bold"><%= t '.theme' %></h1>
      </div>
      <div class="sm:hidden">
        <h1 class="mb-5 text-2xl font-bold"><%= t '.theme' %></h1>
      </div>
      <p><%= t '.description' %></p>
      <p><%= t '.description2' %></p>
      <% if !logged_in? %>
        <%= link_to (t 'defaults.login'), login_path, class: "btn btn-primary text-white font-bold mt-4"%>
      <% end %>
    </div>
  </div>
</div>
