<div class="hero min-h-screen bg-base-200">
  <div class="card sm:w-96 w-80 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex">
        <div class="rounded-full mr-5">
          <%= image_tag current_user.avatar.url, class: 'sm:w-24 sm:h-24 w-20 h-20 rounded-full' %>
        </div>
        <div>
          <h2 class="sm:text-xl text-base font-serif font-bold"><%= current_user.name %></h2>
          <p class="sm:text-base text-xs"><%= current_user.email %></p>
          <%= link_to edit_profile_path do %>
            <div class="btn btn-primary sm:btn-sm btn-xs font-light mt-2 w-28">
              <%= t('defaults.edit') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
