<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <h1 class="sm:text-4xl text-3xl font-serif p-10 text-center text-accent-focus"><%= t '.title' %></h1>
      <div class="card sm:w-96 w-80 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex">
            <div class="rounded-full mr-5">
              <%= image_tag current_user.avatar.url, class: 'sm:w-24 sm:h-24 w-20 h-20 rounded-full' %>
            </div>
            <div>
              <h2 class="sm:text-xl text-base font-serif font-bold"><%= current_user.name %></h2>
              <p class="sm:text-base text-xs"><%= current_user.email %></p>
              <%= link_to t('defaults.edit'), edit_profile_path, class: "btn btn-primary sm:btn-sm btn-xs font-light mt-2 w-28" %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to t('.favorites'), favorites_flowers_path, class: "flex justify-center btn btn-success btn-accent font-light text-white" %>
      <%= link_to t('.post'), flowers_post_path, class: "flex justify-center btn btn-active btn-accent font-light text-white" %>
    </div>
  </div>
</div>
