<div class="hero min-h-screen bg-base-200">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex">
        <div class="w-24 h-24 rounded-full mr-5">
          <%= image_tag current_user.avatar.url, class: 'w-24 h-24 rounded-full' %>
        </div>
        <div>
          <h2 class="text-xl font-serif font-bold"><%= current_user.name %></h2>
          <p><%= current_user.email %></p>
          <%= link_to edit_profile_path do %>
            <div class="btn btn-primary btn-sm text-center text-white font-thin mt-3 w-28">
              <%= t('defaults.edit') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
