<%= form_with model: unknown_flower, local: true do |f| %>
  <div class="form-group mt-3">
    <%= f.label :image, class: "font-serif font-bold" %>
    <%= f.file_field :image, onchange: 'previewImage()', class: "form-control file-input sm:w-96 w-80" %>
    <%= f.hidden_field :flower_image_cache %>
    <%= image_tag unknown_flower.image_url, id: 'preview', class: "rounded-xl sm:w-96 sm:h-96 w-80 h-80 mt-5" %>
    <%= javascript_include_tag 'image' %>
  </div>
  <div class="form-control mt-3">
    <%= f.label :date, class: "font-serif font-bold" %>
    <%= f.date_field :date, class: "input sm:w-96 w-80" %>
  </div>
  <div class="form-control mt-3">
    <%= f.label :feature, class: "font-serif font-bold" %>
    <%= f.text_area :feature, class: "textarea sm:w-96 w-80", placeholder: t( 'defaults.place_detail') %>
  </div>
  <div class="flex justify-center">
    <%= f.submit class: "btn btn-primary font-light mt-5" %>
  </div>
<% end %>
