<div class="bg-base-200">
  <div class="text-center">
    <h1 class="sm:text-4xl text-2xl text-center font-serif p-10 text-accent-focus"><%= t '.title' %></h1>
    <%= link_to (t 'defaults.question'), new_unknown_flower_path, class: "btn btn-primary font-light mt-4" %>
    <% if @unknown_flowers.present? %>
      <%= render @unknown_flowers %>
    <% else %>
      <p><%= t '.not_posted' %></p>
    <% end %>
  </div>
  <div class="flex justify-center pl-16">
    <%= paginate @unknown_flowers, theme: 'flower' %>
  </div>
</div>
