<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <%= render 'reception_badge', unknown_flower: @unknown_flower  %>
      <h1 class="sm:text-4xl text-3xl font-serif p-10 text-center text-accent-focus"><%= t '.title' %></h1>
      <%= image_tag @unknown_flower.image_url, class: "rounded-xl sm:w-96 sm:h-96 w-80 h-80 mt-3" %>
      <% if @unknown_flower.date %>
        <label class="label font-serif font-bold mt-3"><%= t 'defaults.date' %></label>
        <label class="sm:w-96 w-80 break-all"><%= l @unknown_flower.date %></label>
      <% end %>
      <label class="label font-serif font-bold mt-3"><%= t '.feature' %></label>
      <p class="sm:w-96 w-80 break-all"><%= @unknown_flower.feature %></p>
      <div class="my-3">
        <%= render 'answers/form', { unknown_flower: @unknown_flower, answer: @answer } %>
      </div>
      <%= render 'answers/answers', { answers: @answers } %>
      <% if current_user.own?(@unknown_flower) %>
        <div class="flex justify-center mt-4">
          <%= link_to t( '.edit' ), edit_unknown_flower_path(@unknown_flower), class: "btn btn-primary mr-2" %>
          <%= button_to t('.destroy'), unknown_flower_path(@unknown_flower), class: "btn btn-primary ml-2", method: :delete, data: { confirm: '削除完了しました' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
