<div id="comment-<%= comment.id %>">
  <div class="chat chat-start flex">
    <div class="flex-col items-stretch">
      <div class="chat-image avatar">
        <div class="w-8 h-8 rounded-full">
          <%= image_tag comment.user.avatar_url %>
        </div>
      </div>
      <p class="font-serif text-xs"><%= comment.user.name %></p>
    </div>
    <div class="chat-bubble bg-yellow-500 text-white w-72">
    <p><%= comment.body %></p>
      <% if current_user.own?(comment) %>
        <ul class='float-right flex mt-1'>
          <li>
            <%= button_to comment_path(comment), method: :delete do %>
              <%= image_tag 'trash.png', size: '16x16' %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
