<div id="comment-<%= comment.id %>">
  <div class="card sm:w-80 w-64 bg-neutral shadow-xl">
    <div class="card-body">
      <div>
        <%= image_tag comment.user.avatar_url, class: "rounded-full w-12 h-12" %>
        <p class="text-white"><%= comment.user.name %></p>
      </div>
      <p class="sm:text-3xl text-base my-3"><%= comment.evaluation_i18n %></p>
      <p class="text-white break-all"><%= comment.body %></p>
      <% if current_user.own?(comment) %>
        <ul class='mt-1'>
          <li>
            <div class="tooltip tooltip-bottom" data-tip=<%= t 'defaults.delete' %>>
              <%= button_to comment_path(comment), method: :delete do %>
                <%= image_tag 'trash.png', class: "w-6 h-9" %>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
