<div id="comment-<%= comment.id %>">
  <div class="card sm:w-80 w-56 bg-neutral shadow-xl">
    <div class="card-body">
      <div class="flex">
        <div>
          <%= image_tag comment.user.avatar_url, class: "rounded-full w-12 h-12" %>
          <p class="text-white -mt-1 ml-1"><%= comment.user.name %></p>
        </div>
        <p class="sm:text-3xl text-base mt-5 ml-4"><%= comment.evaluation_i18n %></p>
      </div>
      <p class="text-white break-all"><%= comment.body %></p>
      <% if current_user.own?(comment) %>
        <ul class='mt-1'>
          <li>
            <%= button_to comment_path(comment), method: :delete do %>
              <%= image_tag 'trash.png', size: '16x16' %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
