<label for="my-modal-4" class="btn"><%= t 'defaults.comment' %></label>
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <%= form_with model: @comment, url: [@flower, @comment], local: true do |f| %>
      <div class="flex flex-col">
        <%= f.text_area :body, class: 'textarea textarea-bordered w-96', placeholder: (t 'defaults.placeholder_comment') %>
        <div class="rating my-4">
          <%= f.label :evaluation, class: "font-serif font-bold mt-1 mr-2" %>
          <%= f.radio_button :evaluation, :bad, class: "mask mask-star-2 bg-orange-400" %>
          <%= f.radio_button :evaluation, :rather_bad, class: "mask mask-star-2 bg-orange-400" %>
          <%= f.radio_button :evaluation, :usually, class: "mask mask-star-2 bg-orange-400", checked: true %>
          <%= f.radio_button :evaluation, :good, class: "mask mask-star-2 bg-orange-400" %>
          <%= f.radio_button :evaluation, :beautiful, class: "mask mask-star-2 bg-orange-400" %>
        </div>
        <%= f.submit (t 'defaults.post_comment'), class: 'btn btn-sm w-20' %>
      </div>
    <% end %>
  </label>
</label>
