<div class="flower-content m-5">
  <div id="flower-id-<%= flower.id %>">
    <div class="card w-full bg-base-100 shadow-xl">
      <div class="flex">
        <figure class="p-10">
          <%= image_tag flower.flower_image_url, class: "rounded-xl" %>
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= flower.name %></h2>
          <p>場所: <%= flower.address %></p>
          <p>時間: <%= flower.datetime %></p>
          <%= link_to "詳細画面へ", flower_path(flower), class: "btn btn-success" %>
        </div>
        <div class="mt-48">
          <%= render 'crud_menus', flower: flower if current_user.own?(flower) %>
        </div>
      </div>
    </div>
  </div>
</div>
