<div class="flex justify-center m-4">
  <%= link_to flower_path(flower) do %>
    <div class="card bg-base-100 shadow-xl image-full">
      <figure><%= image_tag flower.flower_image_url, class: "rounded-xl" %></figure>
      <div class="card-body">
        <h2 class="text-3xl font-serif"><%= flower.name %></h2>
        <h3 class="font-serif font-bold mt-3"><%= t 'defaults.location' %></h3>
        <p class="sm:w-80 w-72 break-all"><%= flower.address %></p>
        <h3 class="font-serif font-bold mt-3"><%= t 'defaults.date' %></h3>
        <p><%= l flower.date %></p>
        <h3 class="font-serif font-bold mt-3"><%= t 'defaults.status' %></h3>
        <p><%= flower.status_i18n %></p>
        <div class="mt-3">
          <% if current_user.own?(flower) %>
            <%= render 'crud_menus', flower: flower %>
          <% else %>
            <%= render 'favorite_button', flower: flower  %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
