<input id="address" type="text" class="input input-bordered input-sm w-full max-w-xs text-left mb-1" placeholder="東京駅">
<input type="button" class="btn btn-active btn-accent btn-sm text-white", value="検索" onclick="codeAddress()">
<div id='map' style="height: 500px; width: 380px" onclick="touchAddress()"></div>

<%= javascript_include_tag 'google_map' %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_CLOUD_API_KEY'] %>&callback=initMap" async defer></script>

<%= form_with model: flower, local: true do |f| %>
  <div class="form-control hidden">
    <label class="label">
      <span class="label-text">緯度</span>
    </label>
    <%= f.text_field :latitude, class: "input w-96" %>
  </div>
  <div class="form-control hidden">
    <label class="label">
      <span class="label-text">経度</span>
    </label>
    <%= f.text_field :longitude, class: "input w-96" %>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">住所</span>
    </label>
    <%= f.text_field :address, placeholder: "東京駅", class: "input w-96" %>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">日付</span>
    </label>
    <%= f.datetime_field :datetime, class: "input w-96" %>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">花の名前</span>
    </label>
    <%= f.text_field :name, placeholder: "ヒマワリ", class: "input w-96" %>
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">花の状態</span>
    </label>
    <div class="rating rating-lg">
      <%= f.radio_button :status, :bad, class: "mask mask-star-2 bg-orange-400" %>
      <%= f.radio_button :status, :rather_bad, class: "mask mask-star-2 bg-orange-400" %>
      <%= f.radio_button :status, :usually, class: "mask mask-star-2 bg-orange-400", checked: true %>
      <%= f.radio_button :status, :good, class: "mask mask-star-2 bg-orange-400" %>
      <%= f.radio_button :status, :beautiful, class: "mask mask-star-2 bg-orange-400" %>
    </div>
  </div>
  <div class="form-group">
    <label class="label">
      <span class="label-text">花の写真</span>
    </label>
    <%= f.file_field :flower_image, onchange: 'previewImage()', class: "form-control file-input file-input-bordered file-input-accent w-96" %>
    <%= f.hidden_field :flower_image_cache %>
    <%= image_tag flower.flower_image_url, size: '380x380', id: 'preview', class: "mt-5" %>

    <%= javascript_include_tag 'flower_image' %>
  </div>
  <%= f.submit "見つけた花を投稿する", class: "btn btn-active btn-accent text-white mt-5" %>
<% end %>
