<input id="address" name="address" type="text" class="input input-bordered input-sm max-w-xs text-left sm:w-96 w-64 mb-1", placeholder=<%= t ('defaults.find_a_location') %>>
<input type="button" class="btn btn-primary btn-sm font-thin", value=<%= t 'defaults.search' %> , onclick="codeAddress()">
<div id='map' class="rounded-xl sm:w-96 w-80 h-96" onclick="touchAddress()"></div>
<% if @flower.address.present? %>
  <%= javascript_include_tag 'google_map_edit' %>
<% else %>
  <%= javascript_include_tag 'google_map' %>
<% end %>

<%= form_with model: flower, local: true do |f| %>
  <div class="form-control hidden">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>
  <div class="form-control hidden">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="form-control mt-7">
    <%= f.label :address, class: "font-serif font-bold" %>
    <%= f.text_area :address, class: "textarea sm:w-96 w-80", placeholder: t( 'defaults.touch_map') %>
  </div>
  <p class="text-gray-500 text-xs mt-1 sm:w-96 w-80 break-all"><%= t 'defaults.map_detail' %></p>
  <div class="form-control mt-3">
    <%= f.label :address_detail, class: "font-serif font-bold" %>
    <%= f.text_area :address_detail, class: "textarea sm:w-96 w-80",
    placeholder: t( 'defaults.place_detail') %>
  </div>
  <div class="form-control mt-3">
    <%= f.label :date, class: "font-serif font-bold" %>
    <%= f.date_field :date, class: "input sm:w-96 w-80" %>
  </div>
  <div class="form-control mt-3">
    <%= f.label :name, class: "font-serif font-bold" %>
    <%= f.text_field :name, class: "input sm:w-96 w-80", placeholder: t( 'defaults.flower_name')%>
  </div>
  <div class="form-control mt-3">
    <%= f.label :status, class: "font-serif font-bold" %>
    <div class="rating rating-lg">
      <%= f.radio_button :status, :bad, class: "mask mask-star-2 bg-orange-400" %>
      <%= f.radio_button :status, :rather_bad, class: "mask mask-star-2 bg-orange-400" %>
      <%= f.radio_button :status, :usually, class: "mask mask-star-2 bg-orange-400", checked: true %>
      <%= f.radio_button :status, :good, class: "mask mask-star-2 bg-orange-400" %>
      <%= f.radio_button :status, :beautiful, class: "mask mask-star-2 bg-orange-400" %>
    </div>
  </div>
  <div class="form-group mt-3">
    <%= f.label :flower_image, class: "font-serif font-bold" %>
    <%= f.file_field :flower_image, onchange: 'previewImage()', class: "form-control file-input sm:w-96 w-80" %>
    <%= f.hidden_field :flower_image_cache %>
    <%= image_tag flower.flower_image_url, id: 'preview', class: "rounded-xl sm:w-96 sm:h-96 w-80 h-80 mt-5" %>
    <%= javascript_include_tag 'image' %>
  </div>
  <div class="flex justify-center">
    <%= f.submit class: "btn btn-primary font-light mt-5" %>
  </div>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_CLOUD_API_KEY'] %>&callback=initMap" async defer></script>
