<div class="bg-base-200">
  <div class="text-center">
    <h1 class="sm:text-4xl text-3xl font-serif p-10 text-center text-accent-focus"><%= t '.title' %></h1>
    <div class="flex justify-center">
      <%= render 'search_form', url: flowers_path %>
    </div>
    <% if @flowers.present? %>
      <div class="flex flex-wrap justify-center">
        <%= render @flowers %>
      </div>
    <% else %>
      <p><%= t '.not_posted' %></p>
    <% end %>
    <div class="flex justify-center pl-16">
      <%= paginate @flowers, theme: 'flower' %>
    </div>
  </div>
</div>
