<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <h1 class="text-3xl font-bold p-10 text-center"><%= t ".title" %></h1>
      <div id='map' style="height: 500px; width: 380px"></div>
      <label class="label">
        <span class="label-text"><%= t '.address' %></span>
      </label>
      <%= @flower.address %>
      <label class="label">
        <span class="label-text"><%= t '.name' %></span>
      </label>
      <%= @flower.name %>
      <label class="label">
        <span class="label-text"><%= t '.datetime' %></span>
      </label>
      <%= l @flower.datetime %>
      <label class="label">
        <span class="label-text"><%= t '.status' %></span>
      </label>
      <%= @flower.status_i18n %>
      <div class="flex my-4">
        <%= render 'comments/form', { flower: @flower, comment: @comment } %>
        <%= render 'comments/comments', { comments: @comments } %>
        <%= render 'crud_menus', flower: @flower if current_user.own?(@flower) %>
      </div>
    </div>
  </div>
</div>

<script>
  let map
  let Marker

  function initMap(){
    const FlowerLocation = { lat: gon.flower.latitude, lng: gon.flower.longitude }

    const map = new google.maps.Map(document.getElementById('map'), {
      center: FlowerLocation,
      zoom: 16,
    })
    const marker = new google.maps.Marker({
      position: FlowerLocation,
      map: map,
      icon: '/assets/marker.png'
    })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_CLOUD_API_KEY'] %>&callback=initMap" async defer></script>
