<div class="hero min-h-screen bg-base-200">
  <div class="hero-content">
    <div class="max-w-md">
      <h1 class="sm:text-4xl text-2xl text-center font-serif font-bold  text-accent-focus py-10"><%= t ".title" %></h1>
      <label class="label font-serif font-bold w-72 mt-3"><%= t '.post_name' %></label>
      <div class="flex mb-3">
        <%= image_tag @flower.user.avatar.url, class: "rounded-full w-12 h-12" %>
        <p class="mt-3 ml-4 text-serif"><%= @flower.user.name %></p>
      </div>
      <p class="text-3xl font-serif font-bold text-accent-focus"><%= @flower.name %></p>
      <%= image_tag @flower.flower_image_url, class: "rounded-xl sm:w-96 sm:h-96 w-72 h-72 mt-3" %>
      <label class="label font-serif font-bold sm:w-96 w-72 mt-3"><%= t '.address' %></label>
      <p class="sm:w-96 w-72 break-all"><%= @flower.address %></p>
      <label class="label font-serif font-bold sm:w-96 w-72 mt-3"><%= t '.address_detail' %></label>
      <% if @flower.address_detail? %>
        <p class="sm:w-96 w-72 break-all"><%= @flower.address_detail %></p>
      <% else %>
        <p class="sm:w-96 w-72 break-all"><%= t '.no_address_detail' %></p>
      <% end %>
      <div id='map' class="rounded-xl sm:w-96 sm:h-96 w-72 h-96 mt-3"></div>
      <label class="label font-serif font-bold w-72 mt-3"><%= t '.date' %></label>
      <p><%= l @flower.date %></p>
      <label class="label font-serif font-bold mt-3"><%= t '.status' %></label>
      <p><%= @flower.status_i18n %></p>
      <div class="my-3">
        <%= render 'comments/form', { flower: @flower, comment: @comment } %>
      </div>
      <%= render 'comments/comments', { comments: @comments } %>
      <div class="my-4">
        <% if current_user.own?(@flower) %>
          <div class="flex justify-center">
            <%= link_to t( '.edit' ), edit_flower_path(@flower), class: "btn btn-primary mr-1", id: "button-edit-#{@flower.id}" %>
            <%= button_to t('.destroy'), flower_path(@flower), class: "btn btn-primary", id: "button-delete-#{@flower.id}", method: :delete, data: { confirm: '削除完了しました' } %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
  let map
  let Marker

  function initMap(){
    const FlowerLocation = { lat: gon.flower.latitude, lng: gon.flower.longitude }

    const map = new google.maps.Map(document.getElementById('map'), {
      center: FlowerLocation,
      zoom: 16,
    })
    const marker = new google.maps.Marker({
      position: FlowerLocation,
      map: map,
      icon: 'https://storage-box24.s3.ap-northeast-1.amazonaws.com/marker.png'
    })
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_CLOUD_API_KEY'] %>&callback=initMap" async defer></script>
