<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <h1 class="sm:text-4xl text-3xl font-serif p-10 text-center text-accent-focus"><%= t '.title' %></h1>
    <div class="card flex-shrink-0 sm:w-96 w-80 max-w-sm shadow-2xl bg-base-100">
      <%= form_with model: @user, class: "card-body", local: true do |f| %>
        <div class="form-control">
          <%= f.label :name, class: "font-serif" %>
          <%= f.text_field :name, placeholder: "username", class: "input input-borderd border-opacity-20" %>
        </div>
        <div class="form-control">
          <%= f.label :email, class: "font-serif" %>
          <%= f.text_field :email, placeholder: "email", class: "input input-borderd border-opacity-20" %>
        </div>
        <div class="form-control">
          <%= f.label :password, class: "font-serif" %>
          <%= f.password_field :password, placeholder: "password", class: "input input-borderd border-opacity-20" %>
        </div>
        <div class="form-control">
          <%= f.label :password_confirmation, class: "font-serif" %>
          <%= f.password_field :password_confirmation, placeholder: "password_confirmation", class: "input input-borderd border-opacity-20" %>
          <label class="label">
            <a href="/login" class="label-text-alt link link-hover"><%= t '.account_created'%></a>
          </label>
        </div>
        <div class="form-control mt-6">
          <%= f.submit (t '.register'), class: "btn btn-primary font-light" %>
        </div>
        <div class="divider px-10 py-4 text-gray-400"><%= t '.or' %></div>
        <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-info lowercase text-white font-light' do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"></path></svg>
          <p class="text-xs"><%= t '.twitter_login' %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
