<header>
  <div class="navbar bg-green-700">
    <div class="flex-1">
      <%= link_to root_path do %>
        <%= image_tag 'flower-title.png' %>
      <% end %>
    </div>
    <div class="hidden md:flex">
      <div class='items-stretch'>
        <div class="flex">
          <%= link_to unknown_flowers_path, class: 'flex justify-center' do %>
            <label class="btn btn-ghost rounded-btn flex-col font-normal">
              <%= image_tag 'flower_question.png', class: "w-6 h-6" %>
              <div class="text-xs text-white"><%= t 'defaults.header_question' %></div>
            </label>
          <% end %>
          <%= link_to new_flower_path, class: 'flex justify-center' do %>
            <label class="btn btn-ghost rounded-btn flex-col font-normal">
              <%= image_tag 'paper_airplane.png', class: "w-6 h-6" %>
              <div class="text-xs text-white"><%= t 'defaults.header_post' %></div>
            </label>
          <% end %>
          <%= link_to flowers_path, class: 'flex justify-center' do %>
            <label class="btn btn-ghost rounded-btn flex-col font-normal">
              <%= image_tag 'flower_index.png', class: "w-6 h-6" %>
              <div class="text-xs text-white"><%= t 'defaults.header_index' %></div>
            </label>
          <% end %>
          <%= link_to profile_path, class: 'flex justify-center' do %>
            <label class="btn btn-ghost rounded-btn flex-col font-normal">
              <%= image_tag 'mypage.png', class: "w-6 h-6" %>
              <div class="text-xs text-white"><%= t 'defaults.header_profile' %></div>
            </label>
          <% end %>
          <%= button_to logout_path, class: 'flex justify-center logout', method: :delete do %>
            <label class="btn btn-ghost rounded-btn flex-col font-normal">
              <%= image_tag 'logout.png', class: 'w-6 h-6' %>
              <div class="text-xs text-white"><%= t 'defaults.logout' %></div>
            </label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="md:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost m-1 text-white">Menu</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <%= link_to (t 'defaults.question_flower'), unknown_flowers_path %>
          </li>
          <li>
            <%= link_to (t 'defaults.post'), new_flower_path %>
          </li>
          <li>
            <%= link_to (t 'defaults.flower_index'), flowers_path %>
          </li>
          <li>
            <%= link_to (t 'defaults.mypage'), profile_path %>
          </li>
          <li>
            <%= button_to (t 'defaults.logout'), logout_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
