<header class = "bg-green-600">
  <div class="navbar">
    <div class="flex-1">
      <%= link_to root_path do %>
        <%= image_tag 'flower-title.png' %>
      <% end %>
    </div>
    <div class="flex-row lg:hidden">
      <%= link_to new_flower_path do %>
        <%= image_tag 'paper_airplane.png', width: '50%', height: '50%' %>
      <% end %>
      <%= link_to flowers_path do %>
        <%= image_tag 'flower_index.png', width: '50%', height: '50%' %>
      <% end %>
      <%= link_to '#' do %>
        <%= image_tag 'mypage.png', width: '50%', height: '50%' %>
      <% end %>
      <%= link_to logout_path do %>
        <%= image_tag 'logout.png', width: '50%', height: '50%' %>
      <% end %>
    </div>
  </div>
</header>
